{
  "openapi": "3.1.0",
  "info": {
    "title": "seazn.club platform API",
    "version": "1.0.0",
    "description": "Versioned REST API (design doc engine/08). Every response is `{ ok, data | error, requestId }`. Additive changes land in place; breaking changes move to /api/v2 with Sunset headers on deprecation.\n\nAuthenticate with an API key (`Authorization: Bearer sc_…`, created in org settings — Pro). Keys carry a scope — `read`, `score` or `manage`; each operation lists its requirement as `x-required-scope`. Keys are rate-limited per minute (60 rpm, 300 rpm on Pro) with `X-RateLimit-*` headers on every response. The `public` tag needs no key at all."
  },
  "servers": [
    {
      "url": "https://seazn.club"
    }
  ],
  "tags": [
    {
      "name": "competitions"
    },
    {
      "name": "divisions"
    },
    {
      "name": "entrants"
    },
    {
      "name": "persons"
    },
    {
      "name": "stages"
    },
    {
      "name": "fixtures"
    },
    {
      "name": "scoring"
    },
    {
      "name": "scheduling"
    },
    {
      "name": "registration"
    },
    {
      "name": "clubs"
    },
    {
      "name": "officials"
    },
    {
      "name": "venues"
    },
    {
      "name": "history"
    },
    {
      "name": "exports"
    },
    {
      "name": "stats"
    },
    {
      "name": "public"
    }
  ],
  "components": {
    "securitySchemes": {
      "sessionCookie": {
        "type": "apiKey",
        "in": "cookie",
        "name": "seazn_session"
      },
      "apiKey": {
        "type": "http",
        "scheme": "bearer",
        "description": "Pro API key: `Authorization: Bearer sc_…` (entitlement api.access). Scopes: read < score < manage; see x-required-scope per operation."
      },
      "deviceLink": {
        "type": "http",
        "scheme": "bearer",
        "description": "Day-of device link (doc 13 §7): `Authorization: Bearer dl_…` — accepted ONLY by its fixture's scoring surface (append events, void own events pre-finalize, read state/events, realtime token). Expired/revoked → 401 LINK_EXPIRED / LINK_REVOKED."
      }
    }
  },
  "paths": {
    "/api/v1/competitions": {
      "get": {
        "summary": "List competitions",
        "tags": [
          "competitions"
        ],
        "x-required-scope": "read",
        "parameters": [
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Opaque cursor from a previous page"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 200,
              "default": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "ok",
                    "data",
                    "requestId"
                  ],
                  "properties": {
                    "ok": {
                      "const": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "items": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "format": "uuid",
                                "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                              },
                              "org_id": {
                                "type": "string",
                                "format": "uuid",
                                "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                              },
                              "name": {
                                "type": "string"
                              },
                              "slug": {
                                "type": "string"
                              },
                              "description": {
                                "anyOf": [
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              },
                              "starts_on": {
                                "anyOf": [
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              },
                              "ends_on": {
                                "anyOf": [
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              },
                              "visibility": {
                                "type": "string",
                                "enum": [
                                  "private",
                                  "unlisted",
                                  "public"
                                ]
                              },
                              "branding": {
                                "type": "object",
                                "propertyNames": {
                                  "type": "string"
                                },
                                "additionalProperties": {}
                              },
                              "status": {
                                "type": "string",
                                "enum": [
                                  "draft",
                                  "published",
                                  "live",
                                  "completed",
                                  "archived"
                                ]
                              },
                              "created_at": {
                                "type": "string"
                              },
                              "discoverable": {
                                "type": "boolean"
                              },
                              "discovery": {
                                "type": "object",
                                "properties": {
                                  "city": {
                                    "anyOf": [
                                      {
                                        "type": "string",
                                        "maxLength": 100
                                      },
                                      {
                                        "type": "null"
                                      }
                                    ]
                                  },
                                  "country": {
                                    "anyOf": [
                                      {
                                        "type": "string",
                                        "maxLength": 100
                                      },
                                      {
                                        "type": "null"
                                      }
                                    ]
                                  },
                                  "tagline": {
                                    "anyOf": [
                                      {
                                        "type": "string",
                                        "maxLength": 200
                                      },
                                      {
                                        "type": "null"
                                      }
                                    ]
                                  },
                                  "hero_image_path": {
                                    "anyOf": [
                                      {
                                        "type": "string",
                                        "maxLength": 500
                                      },
                                      {
                                        "type": "null"
                                      }
                                    ]
                                  }
                                },
                                "additionalProperties": false
                              },
                              "frozen": {
                                "type": "boolean"
                              }
                            },
                            "required": [
                              "id",
                              "org_id",
                              "name",
                              "slug",
                              "description",
                              "starts_on",
                              "ends_on",
                              "visibility",
                              "branding",
                              "status",
                              "created_at",
                              "discoverable",
                              "discovery"
                            ],
                            "additionalProperties": false
                          }
                        },
                        "nextCursor": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        }
                      },
                      "required": [
                        "items",
                        "nextCursor"
                      ],
                      "additionalProperties": false
                    },
                    "requestId": {
                      "type": "string",
                      "format": "uuid"
                    }
                  }
                },
                "example": {
                  "ok": true,
                  "data": {
                    "items": [
                      {
                        "id": "3f1a2b04-8c1d-4e5f-9a6b-7c8d9e0f1a2b",
                        "org_id": "3f1a2b04-8c1d-4e5f-9a6b-7c8d9e0f1a2b",
                        "name": "example",
                        "slug": "example",
                        "description": "example",
                        "starts_on": "example",
                        "ends_on": "example",
                        "visibility": "private",
                        "branding": {},
                        "status": "draft",
                        "created_at": "example",
                        "discoverable": true,
                        "discovery": {
                          "city": "example",
                          "country": "example",
                          "tagline": "example",
                          "hero_image_path": "example"
                        }
                      }
                    ],
                    "nextCursor": "example"
                  },
                  "requestId": "3f1a2b04-8c1d-4e5f-9a6b-7c8d9e0f1a2b"
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "ok",
                    "error",
                    "requestId"
                  ],
                  "properties": {
                    "ok": {
                      "const": false
                    },
                    "error": {
                      "type": "object",
                      "required": [
                        "code",
                        "message"
                      ],
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "current_seq": {
                          "type": "integer",
                          "description": "On SEQ_CONFLICT (409): the ledger tip to resync from"
                        }
                      },
                      "additionalProperties": true
                    },
                    "requestId": {
                      "type": "string",
                      "format": "uuid"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "ok",
                    "error",
                    "requestId"
                  ],
                  "properties": {
                    "ok": {
                      "const": false
                    },
                    "error": {
                      "type": "object",
                      "required": [
                        "code",
                        "message"
                      ],
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "current_seq": {
                          "type": "integer",
                          "description": "On SEQ_CONFLICT (409): the ledger tip to resync from"
                        }
                      },
                      "additionalProperties": true
                    },
                    "requestId": {
                      "type": "string",
                      "format": "uuid"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "ok",
                    "error",
                    "requestId"
                  ],
                  "properties": {
                    "ok": {
                      "const": false
                    },
                    "error": {
                      "type": "object",
                      "required": [
                        "code",
                        "message"
                      ],
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "current_seq": {
                          "type": "integer",
                          "description": "On SEQ_CONFLICT (409): the ledger tip to resync from"
                        }
                      },
                      "additionalProperties": true
                    },
                    "requestId": {
                      "type": "string",
                      "format": "uuid"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "sessionCookie": []
          },
          {
            "apiKey": []
          }
        ]
      },
      "post": {
        "summary": "Create a competition. Public by default; at `dashboard.public.max` the create is NOT refused — it is created private and the 201 carries `public_quota_degraded` naming the cap",
        "tags": [
          "competitions"
        ],
        "x-required-scope": "manage",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 200
                  },
                  "slug": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 80,
                    "pattern": "^[a-z0-9]+(?:-[a-z0-9]+)*$"
                  },
                  "description": {
                    "anyOf": [
                      {
                        "type": "string",
                        "maxLength": 20000
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "starts_on": {
                    "anyOf": [
                      {
                        "type": "string",
                        "format": "date",
                        "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))$"
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "ends_on": {
                    "type": "string",
                    "format": "date",
                    "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))$"
                  },
                  "visibility": {
                    "default": "public",
                    "type": "string",
                    "enum": [
                      "private",
                      "unlisted",
                      "public"
                    ]
                  },
                  "branding": {
                    "default": {},
                    "type": "object",
                    "propertyNames": {
                      "type": "string"
                    },
                    "additionalProperties": {}
                  },
                  "discoverable": {
                    "type": "boolean"
                  }
                },
                "required": [
                  "name",
                  "ends_on",
                  "visibility",
                  "branding"
                ],
                "additionalProperties": false
              },
              "example": {
                "name": "example",
                "slug": "example",
                "description": "example",
                "starts_on": "2026-08-01",
                "ends_on": "2026-08-01",
                "visibility": "private",
                "branding": {}
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "ok",
                    "data",
                    "requestId"
                  ],
                  "properties": {
                    "ok": {
                      "const": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "format": "uuid",
                          "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                        },
                        "org_id": {
                          "type": "string",
                          "format": "uuid",
                          "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                        },
                        "name": {
                          "type": "string"
                        },
                        "slug": {
                          "type": "string"
                        },
                        "description": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "starts_on": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "ends_on": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "visibility": {
                          "type": "string",
                          "enum": [
                            "private",
                            "unlisted",
                            "public"
                          ]
                        },
                        "branding": {
                          "type": "object",
                          "propertyNames": {
                            "type": "string"
                          },
                          "additionalProperties": {}
                        },
                        "status": {
                          "type": "string",
                          "enum": [
                            "draft",
                            "published",
                            "live",
                            "completed",
                            "archived"
                          ]
                        },
                        "created_at": {
                          "type": "string"
                        },
                        "discoverable": {
                          "type": "boolean"
                        },
                        "discovery": {
                          "type": "object",
                          "properties": {
                            "city": {
                              "anyOf": [
                                {
                                  "type": "string",
                                  "maxLength": 100
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "country": {
                              "anyOf": [
                                {
                                  "type": "string",
                                  "maxLength": 100
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "tagline": {
                              "anyOf": [
                                {
                                  "type": "string",
                                  "maxLength": 200
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "hero_image_path": {
                              "anyOf": [
                                {
                                  "type": "string",
                                  "maxLength": 500
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            }
                          },
                          "additionalProperties": false
                        },
                        "frozen": {
                          "type": "boolean"
                        },
                        "public_quota_degraded": {
                          "type": "object",
                          "properties": {
                            "feature_key": {
                              "type": "string",
                              "const": "dashboard.public.max"
                            },
                            "requested_visibility": {
                              "type": "string",
                              "enum": [
                                "public",
                                "unlisted"
                              ]
                            },
                            "applied_visibility": {
                              "type": "string",
                              "const": "private"
                            },
                            "limit": {
                              "anyOf": [
                                {
                                  "type": "integer",
                                  "minimum": -9007199254740991,
                                  "maximum": 9007199254740991
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "reason": {
                              "type": "string"
                            },
                            "discoverable_dropped": {
                              "type": "boolean",
                              "const": true
                            }
                          },
                          "required": [
                            "feature_key",
                            "requested_visibility",
                            "applied_visibility",
                            "limit",
                            "reason"
                          ],
                          "additionalProperties": false
                        }
                      },
                      "required": [
                        "id",
                        "org_id",
                        "name",
                        "slug",
                        "description",
                        "starts_on",
                        "ends_on",
                        "visibility",
                        "branding",
                        "status",
                        "created_at",
                        "discoverable",
                        "discovery"
                      ],
                      "additionalProperties": false
                    },
                    "requestId": {
                      "type": "string",
                      "format": "uuid"
                    }
                  }
                },
                "example": {
                  "ok": true,
                  "data": {
                    "id": "3f1a2b04-8c1d-4e5f-9a6b-7c8d9e0f1a2b",
                    "org_id": "3f1a2b04-8c1d-4e5f-9a6b-7c8d9e0f1a2b",
                    "name": "example",
                    "slug": "example",
                    "description": "example",
                    "starts_on": "example",
                    "ends_on": "example",
                    "visibility": "private",
                    "branding": {},
                    "status": "draft",
                    "created_at": "example",
                    "discoverable": true,
                    "discovery": {
                      "city": "example",
                      "country": "example",
                      "tagline": "example",
                      "hero_image_path": "example"
                    }
                  },
                  "requestId": "3f1a2b04-8c1d-4e5f-9a6b-7c8d9e0f1a2b"
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "ok",
                    "error",
                    "requestId"
                  ],
                  "properties": {
                    "ok": {
                      "const": false
                    },
                    "error": {
                      "type": "object",
                      "required": [
                        "code",
                        "message"
                      ],
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "current_seq": {
                          "type": "integer",
                          "description": "On SEQ_CONFLICT (409): the ledger tip to resync from"
                        }
                      },
                      "additionalProperties": true
                    },
                    "requestId": {
                      "type": "string",
                      "format": "uuid"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "ok",
                    "error",
                    "requestId"
                  ],
                  "properties": {
                    "ok": {
                      "const": false
                    },
                    "error": {
                      "type": "object",
                      "required": [
                        "code",
                        "message"
                      ],
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "current_seq": {
                          "type": "integer",
                          "description": "On SEQ_CONFLICT (409): the ledger tip to resync from"
                        }
                      },
                      "additionalProperties": true
                    },
                    "requestId": {
                      "type": "string",
                      "format": "uuid"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "ok",
                    "error",
                    "requestId"
                  ],
                  "properties": {
                    "ok": {
                      "const": false
                    },
                    "error": {
                      "type": "object",
                      "required": [
                        "code",
                        "message"
                      ],
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "current_seq": {
                          "type": "integer",
                          "description": "On SEQ_CONFLICT (409): the ledger tip to resync from"
                        }
                      },
                      "additionalProperties": true
                    },
                    "requestId": {
                      "type": "string",
                      "format": "uuid"
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "ok",
                    "error",
                    "requestId"
                  ],
                  "properties": {
                    "ok": {
                      "const": false
                    },
                    "error": {
                      "type": "object",
                      "required": [
                        "code",
                        "message"
                      ],
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "current_seq": {
                          "type": "integer",
                          "description": "On SEQ_CONFLICT (409): the ledger tip to resync from"
                        }
                      },
                      "additionalProperties": true
                    },
                    "requestId": {
                      "type": "string",
                      "format": "uuid"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "sessionCookie": []
          },
          {
            "apiKey": []
          }
        ]
      }
    },
    "/api/v1/competitions/from-template": {
      "post": {
        "summary": "Instantiate a curated format template (D1a) — competition + divisions + stages in one transaction",
        "tags": [
          "competitions"
        ],
        "x-required-scope": "manage",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "template_key": {
                    "type": "string",
                    "minLength": 1
                  },
                  "template_version": {
                    "type": "integer",
                    "exclusiveMinimum": 0,
                    "maximum": 9007199254740991
                  },
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 200
                  },
                  "starts_on": {
                    "anyOf": [
                      {
                        "type": "string",
                        "format": "date",
                        "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))$"
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "ends_on": {
                    "type": "string",
                    "format": "date",
                    "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))$"
                  },
                  "visibility": {
                    "default": "public",
                    "type": "string",
                    "enum": [
                      "private",
                      "unlisted",
                      "public"
                    ]
                  }
                },
                "required": [
                  "template_key",
                  "name",
                  "ends_on",
                  "visibility"
                ],
                "additionalProperties": false
              },
              "example": {
                "template_key": "example",
                "template_version": 1,
                "name": "example",
                "starts_on": "2026-08-01",
                "ends_on": "2026-08-01",
                "visibility": "private"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "ok",
                    "data",
                    "requestId"
                  ],
                  "properties": {
                    "ok": {
                      "const": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "competitionId": {
                          "type": "string",
                          "format": "uuid",
                          "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                        },
                        "slug": {
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 80,
                          "pattern": "^[a-z0-9]+(?:-[a-z0-9]+)*$"
                        },
                        "visibility": {
                          "type": "string",
                          "enum": [
                            "private",
                            "unlisted",
                            "public"
                          ]
                        },
                        "public_quota_degraded": {
                          "type": "object",
                          "properties": {
                            "feature_key": {
                              "type": "string",
                              "const": "dashboard.public.max"
                            },
                            "requested_visibility": {
                              "type": "string",
                              "enum": [
                                "public",
                                "unlisted"
                              ]
                            },
                            "applied_visibility": {
                              "type": "string",
                              "const": "private"
                            },
                            "limit": {
                              "anyOf": [
                                {
                                  "type": "integer",
                                  "minimum": -9007199254740991,
                                  "maximum": 9007199254740991
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "reason": {
                              "type": "string"
                            },
                            "discoverable_dropped": {
                              "type": "boolean",
                              "const": true
                            }
                          },
                          "required": [
                            "feature_key",
                            "requested_visibility",
                            "applied_visibility",
                            "limit",
                            "reason"
                          ],
                          "additionalProperties": false
                        },
                        "divisions": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "format": "uuid",
                                "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                              },
                              "stages": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "id": {
                                      "type": "string",
                                      "format": "uuid",
                                      "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                                    },
                                    "fixtureCount": {
                                      "type": "integer",
                                      "minimum": 0,
                                      "maximum": 9007199254740991
                                    }
                                  },
                                  "required": [
                                    "id",
                                    "fixtureCount"
                                  ],
                                  "additionalProperties": false
                                }
                              }
                            },
                            "required": [
                              "id",
                              "stages"
                            ],
                            "additionalProperties": false
                          }
                        },
                        "templateKey": {
                          "type": "string"
                        },
                        "templateVersion": {
                          "type": "integer",
                          "minimum": -9007199254740991,
                          "maximum": 9007199254740991
                        }
                      },
                      "required": [
                        "competitionId",
                        "slug",
                        "visibility",
                        "divisions",
                        "templateKey",
                        "templateVersion"
                      ],
                      "additionalProperties": false
                    },
                    "requestId": {
                      "type": "string",
                      "format": "uuid"
                    }
                  }
                },
                "example": {
                  "ok": true,
                  "data": {
                    "competitionId": "3f1a2b04-8c1d-4e5f-9a6b-7c8d9e0f1a2b",
                    "slug": "example",
                    "visibility": "private",
                    "public_quota_degraded": {
                      "feature_key": "dashboard.public.max",
                      "requested_visibility": "public",
                      "applied_visibility": "private",
                      "limit": -9007199254740991,
                      "reason": "example"
                    },
                    "divisions": [
                      {
                        "id": "3f1a2b04-8c1d-4e5f-9a6b-7c8d9e0f1a2b",
                        "stages": [
                          {
                            "id": "3f1a2b04-8c1d-4e5f-9a6b-7c8d9e0f1a2b",
                            "fixtureCount": 0
                          }
                        ]
                      }
                    ],
                    "templateKey": "example",
                    "templateVersion": -9007199254740991
                  },
                  "requestId": "3f1a2b04-8c1d-4e5f-9a6b-7c8d9e0f1a2b"
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "ok",
                    "error",
                    "requestId"
                  ],
                  "properties": {
                    "ok": {
                      "const": false
                    },
                    "error": {
                      "type": "object",
                      "required": [
                        "code",
                        "message"
                      ],
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "current_seq": {
                          "type": "integer",
                          "description": "On SEQ_CONFLICT (409): the ledger tip to resync from"
                        }
                      },
                      "additionalProperties": true
                    },
                    "requestId": {
                      "type": "string",
                      "format": "uuid"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "ok",
                    "error",
                    "requestId"
                  ],
                  "properties": {
                    "ok": {
                      "const": false
                    },
                    "error": {
                      "type": "object",
                      "required": [
                        "code",
                        "message"
                      ],
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "current_seq": {
                          "type": "integer",
                          "description": "On SEQ_CONFLICT (409): the ledger tip to resync from"
                        }
                      },
                      "additionalProperties": true
                    },
                    "requestId": {
                      "type": "string",
                      "format": "uuid"
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Plan upgrade required",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "ok",
                    "error",
                    "requestId"
                  ],
                  "properties": {
                    "ok": {
                      "const": false
                    },
                    "error": {
                      "type": "object",
                      "required": [
                        "code",
                        "message"
                      ],
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "current_seq": {
                          "type": "integer",
                          "description": "On SEQ_CONFLICT (409): the ledger tip to resync from"
                        }
                      },
                      "additionalProperties": true
                    },
                    "requestId": {
                      "type": "string",
                      "format": "uuid"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "ok",
                    "error",
                    "requestId"
                  ],
                  "properties": {
                    "ok": {
                      "const": false
                    },
                    "error": {
                      "type": "object",
                      "required": [
                        "code",
                        "message"
                      ],
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "current_seq": {
                          "type": "integer",
                          "description": "On SEQ_CONFLICT (409): the ledger tip to resync from"
                        }
                      },
                      "additionalProperties": true
                    },
                    "requestId": {
                      "type": "string",
                      "format": "uuid"
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "ok",
                    "error",
                    "requestId"
                  ],
                  "properties": {
                    "ok": {
                      "const": false
                    },
                    "error": {
                      "type": "object",
                      "required": [
                        "code",
                        "message"
                      ],
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "current_seq": {
                          "type": "integer",
                          "description": "On SEQ_CONFLICT (409): the ledger tip to resync from"
                        },
                        "live_version": {
                          "type": "integer",
                          "description": "On TEMPLATE_VERSION_RETIRED (409): the catalog's current version for this key"
                        }
                      },
                      "additionalProperties": true
                    },
                    "requestId": {
                      "type": "string",
                      "format": "uuid"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Rejected by the engine",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "ok",
                    "error",
                    "requestId"
                  ],
                  "properties": {
                    "ok": {
                      "const": false
                    },
                    "error": {
                      "type": "object",
                      "required": [
                        "code",
                        "message"
                      ],
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "current_seq": {
                          "type": "integer",
                          "description": "On SEQ_CONFLICT (409): the ledger tip to resync from"
                        },
                        "divisionIndex": {
                          "type": "integer",
                          "description": "On TEMPLATE_INSTANTIATION_FAILED (422): 0-based index into the template's divisions"
                        },
                        "stageIndex": {
                          "type": [
                            "integer",
                            "null"
                          ],
                          "description": "On TEMPLATE_INSTANTIATION_FAILED (422): 0-based index into the division's stages, or null if the division itself failed"
                        },
                        "cause": {
                          "type": "string",
                          "description": "On TEMPLATE_INSTANTIATION_FAILED (422): the underlying validation error message"
                        }
                      },
                      "additionalProperties": true
                    },
                    "requestId": {
                      "type": "string",
                      "format": "uuid"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "sessionCookie": []
          },
          {
            "apiKey": []
          }
        ]
      }
    },
    "/api/v1/competitions/{id}": {
      "get": {
        "summary": "Get a competition",
        "tags": [
          "competitions"
        ],
        "x-required-scope": "read",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "ok",
                    "data",
                    "requestId"
                  ],
                  "properties": {
                    "ok": {
                      "const": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "format": "uuid",
                          "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                        },
                        "org_id": {
                          "type": "string",
                          "format": "uuid",
                          "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                        },
                        "name": {
                          "type": "string"
                        },
                        "slug": {
                          "type": "string"
                        },
                        "description": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "starts_on": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "ends_on": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "visibility": {
                          "type": "string",
                          "enum": [
                            "private",
                            "unlisted",
                            "public"
                          ]
                        },
                        "branding": {
                          "type": "object",
                          "propertyNames": {
                            "type": "string"
                          },
                          "additionalProperties": {}
                        },
                        "status": {
                          "type": "string",
                          "enum": [
                            "draft",
                            "published",
                            "live",
                            "completed",
                            "archived"
                          ]
                        },
                        "created_at": {
                          "type": "string"
                        },
                        "discoverable": {
                          "type": "boolean"
                        },
                        "discovery": {
                          "type": "object",
                          "properties": {
                            "city": {
                              "anyOf": [
                                {
                                  "type": "string",
                                  "maxLength": 100
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "country": {
                              "anyOf": [
                                {
                                  "type": "string",
                                  "maxLength": 100
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "tagline": {
                              "anyOf": [
                                {
                                  "type": "string",
                                  "maxLength": 200
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "hero_image_path": {
                              "anyOf": [
                                {
                                  "type": "string",
                                  "maxLength": 500
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            }
                          },
                          "additionalProperties": false
                        },
                        "frozen": {
                          "type": "boolean"
                        }
                      },
                      "required": [
                        "id",
                        "org_id",
                        "name",
                        "slug",
                        "description",
                        "starts_on",
                        "ends_on",
                        "visibility",
                        "branding",
                        "status",
                        "created_at",
                        "discoverable",
                        "discovery"
                      ],
                      "additionalProperties": false
                    },
                    "requestId": {
                      "type": "string",
                      "format": "uuid"
                    }
                  }
                },
                "example": {
                  "ok": true,
                  "data": {
                    "id": "3f1a2b04-8c1d-4e5f-9a6b-7c8d9e0f1a2b",
                    "org_id": "3f1a2b04-8c1d-4e5f-9a6b-7c8d9e0f1a2b",
                    "name": "example",
                    "slug": "example",
                    "description": "example",
                    "starts_on": "example",
                    "ends_on": "example",
                    "visibility": "private",
                    "branding": {},
                    "status": "draft",
                    "created_at": "example",
                    "discoverable": true,
                    "discovery": {
                      "city": "example",
                      "country": "example",
                      "tagline": "example",
                      "hero_image_path": "example"
                    }
                  },
                  "requestId": "3f1a2b04-8c1d-4e5f-9a6b-7c8d9e0f1a2b"
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "ok",
                    "error",
                    "requestId"
                  ],
                  "properties": {
                    "ok": {
                      "const": false
                    },
                    "error": {
                      "type": "object",
                      "required": [
                        "code",
                        "message"
                      ],
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "current_seq": {
                          "type": "integer",
                          "description": "On SEQ_CONFLICT (409): the ledger tip to resync from"
                        }
                      },
                      "additionalProperties": true
                    },
                    "requestId": {
                      "type": "string",
                      "format": "uuid"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "ok",
                    "error",
                    "requestId"
                  ],
                  "properties": {
                    "ok": {
                      "const": false
                    },
                    "error": {
                      "type": "object",
                      "required": [
                        "code",
                        "message"
                      ],
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "current_seq": {
                          "type": "integer",
                          "description": "On SEQ_CONFLICT (409): the ledger tip to resync from"
                        }
                      },
                      "additionalProperties": true
                    },
                    "requestId": {
                      "type": "string",
                      "format": "uuid"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "ok",
                    "error",
                    "requestId"
                  ],
                  "properties": {
                    "ok": {
                      "const": false
                    },
                    "error": {
                      "type": "object",
                      "required": [
                        "code",
                        "message"
                      ],
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "current_seq": {
                          "type": "integer",
                          "description": "On SEQ_CONFLICT (409): the ledger tip to resync from"
                        }
                      },
                      "additionalProperties": true
                    },
                    "requestId": {
                      "type": "string",
                      "format": "uuid"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "sessionCookie": []
          },
          {
            "apiKey": []
          }
        ]
      },
      "patch": {
        "summary": "Update a competition",
        "tags": [
          "competitions"
        ],
        "x-required-scope": "manage",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 200
                  },
                  "slug": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 80,
                    "pattern": "^[a-z0-9]+(?:-[a-z0-9]+)*$"
                  },
                  "description": {
                    "anyOf": [
                      {
                        "type": "string",
                        "maxLength": 20000
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "starts_on": {
                    "anyOf": [
                      {
                        "type": "string",
                        "format": "date",
                        "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))$"
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "ends_on": {
                    "type": "string",
                    "format": "date",
                    "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))$"
                  },
                  "visibility": {
                    "type": "string",
                    "enum": [
                      "private",
                      "unlisted",
                      "public"
                    ]
                  },
                  "branding": {
                    "type": "object",
                    "propertyNames": {
                      "type": "string"
                    },
                    "additionalProperties": {}
                  },
                  "status": {
                    "type": "string",
                    "enum": [
                      "draft",
                      "published",
                      "live",
                      "completed",
                      "archived"
                    ]
                  },
                  "discoverable": {
                    "type": "boolean"
                  },
                  "discovery": {
                    "type": "object",
                    "properties": {
                      "city": {
                        "anyOf": [
                          {
                            "type": "string",
                            "maxLength": 100
                          },
                          {
                            "type": "null"
                          }
                        ]
                      },
                      "country": {
                        "anyOf": [
                          {
                            "type": "string",
                            "maxLength": 100
                          },
                          {
                            "type": "null"
                          }
                        ]
                      },
                      "tagline": {
                        "anyOf": [
                          {
                            "type": "string",
                            "maxLength": 200
                          },
                          {
                            "type": "null"
                          }
                        ]
                      },
                      "hero_image_path": {
                        "anyOf": [
                          {
                            "type": "string",
                            "maxLength": 500
                          },
                          {
                            "type": "null"
                          }
                        ]
                      }
                    },
                    "additionalProperties": false
                  }
                },
                "additionalProperties": false
              },
              "example": {
                "name": "example",
                "slug": "example",
                "description": "example",
                "starts_on": "2026-08-01"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "ok",
                    "data",
                    "requestId"
                  ],
                  "properties": {
                    "ok": {
                      "const": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "format": "uuid",
                          "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                        },
                        "org_id": {
                          "type": "string",
                          "format": "uuid",
                          "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                        },
                        "name": {
                          "type": "string"
                        },
                        "slug": {
                          "type": "string"
                        },
                        "description": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "starts_on": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "ends_on": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "visibility": {
                          "type": "string",
                          "enum": [
                            "private",
                            "unlisted",
                            "public"
                          ]
                        },
                        "branding": {
                          "type": "object",
                          "propertyNames": {
                            "type": "string"
                          },
                          "additionalProperties": {}
                        },
                        "status": {
                          "type": "string",
                          "enum": [
                            "draft",
                            "published",
                            "live",
                            "completed",
                            "archived"
                          ]
                        },
                        "created_at": {
                          "type": "string"
                        },
                        "discoverable": {
                          "type": "boolean"
                        },
                        "discovery": {
                          "type": "object",
                          "properties": {
                            "city": {
                              "anyOf": [
                                {
                                  "type": "string",
                                  "maxLength": 100
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "country": {
                              "anyOf": [
                                {
                                  "type": "string",
                                  "maxLength": 100
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "tagline": {
                              "anyOf": [
                                {
                                  "type": "string",
                                  "maxLength": 200
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "hero_image_path": {
                              "anyOf": [
                                {
                                  "type": "string",
                                  "maxLength": 500
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            }
                          },
                          "additionalProperties": false
                        },
                        "frozen": {
                          "type": "boolean"
                        }
                      },
                      "required": [
                        "id",
                        "org_id",
                        "name",
                        "slug",
                        "description",
                        "starts_on",
                        "ends_on",
                        "visibility",
                        "branding",
                        "status",
                        "created_at",
                        "discoverable",
                        "discovery"
                      ],
                      "additionalProperties": false
                    },
                    "requestId": {
                      "type": "string",
                      "format": "uuid"
                    }
                  }
                },
                "example": {
                  "ok": true,
                  "data": {
                    "id": "3f1a2b04-8c1d-4e5f-9a6b-7c8d9e0f1a2b",
                    "org_id": "3f1a2b04-8c1d-4e5f-9a6b-7c8d9e0f1a2b",
                    "name": "example",
                    "slug": "example",
                    "description": "example",
                    "starts_on": "example",
                    "ends_on": "example",
                    "visibility": "private",
                    "branding": {},
                    "status": "draft",
                    "created_at": "example",
                    "discoverable": true,
                    "discovery": {
                      "city": "example",
                      "country": "example",
                      "tagline": "example",
                      "hero_image_path": "example"
                    }
                  },
                  "requestId": "3f1a2b04-8c1d-4e5f-9a6b-7c8d9e0f1a2b"
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "ok",
                    "error",
                    "requestId"
                  ],
                  "properties": {
                    "ok": {
                      "const": false
                    },
                    "error": {
                      "type": "object",
                      "required": [
                        "code",
                        "message"
                      ],
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "current_seq": {
                          "type": "integer",
                          "description": "On SEQ_CONFLICT (409): the ledger tip to resync from"
                        }
                      },
                      "additionalProperties": true
                    },
                    "requestId": {
                      "type": "string",
                      "format": "uuid"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "ok",
                    "error",
                    "requestId"
                  ],
                  "properties": {
                    "ok": {
                      "const": false
                    },
                    "error": {
                      "type": "object",
                      "required": [
                        "code",
                        "message"
                      ],
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "current_seq": {
                          "type": "integer",
                          "description": "On SEQ_CONFLICT (409): the ledger tip to resync from"
                        }
                      },
                      "additionalProperties": true
                    },
                    "requestId": {
                      "type": "string",
                      "format": "uuid"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "ok",
                    "error",
                    "requestId"
                  ],
                  "properties": {
                    "ok": {
                      "const": false
                    },
                    "error": {
                      "type": "object",
                      "required": [
                        "code",
                        "message"
                      ],
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "current_seq": {
                          "type": "integer",
                          "description": "On SEQ_CONFLICT (409): the ledger tip to resync from"
                        }
                      },
                      "additionalProperties": true
                    },
                    "requestId": {
                      "type": "string",
                      "format": "uuid"
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "ok",
                    "error",
                    "requestId"
                  ],
                  "properties": {
                    "ok": {
                      "const": false
                    },
                    "error": {
                      "type": "object",
                      "required": [
                        "code",
                        "message"
                      ],
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "current_seq": {
                          "type": "integer",
                          "description": "On SEQ_CONFLICT (409): the ledger tip to resync from"
                        }
                      },
                      "additionalProperties": true
                    },
                    "requestId": {
                      "type": "string",
                      "format": "uuid"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "sessionCookie": []
          },
          {
            "apiKey": []
          }
        ]
      }
    },
    "/api/v1/competitions/{id}/desk": {
      "get": {
        "summary": "Get a competition desk summary",
        "tags": [
          "competitions"
        ],
        "x-required-scope": "read",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "ok",
                    "data",
                    "requestId"
                  ],
                  "properties": {
                    "ok": {
                      "const": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "in_play": {
                          "type": "integer",
                          "minimum": -9007199254740991,
                          "maximum": 9007199254740991
                        },
                        "in_play_fixtures": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "format": "uuid",
                                "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                              },
                              "division_id": {
                                "type": "string",
                                "format": "uuid",
                                "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                              },
                              "division_name": {
                                "type": "string"
                              },
                              "home": {
                                "anyOf": [
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              },
                              "away": {
                                "anyOf": [
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              },
                              "fixture_no": {
                                "type": "integer",
                                "minimum": -9007199254740991,
                                "maximum": 9007199254740991
                              },
                              "event_count": {
                                "type": "integer",
                                "minimum": -9007199254740991,
                                "maximum": 9007199254740991
                              },
                              "started_at": {
                                "anyOf": [
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              }
                            },
                            "required": [
                              "id",
                              "division_id",
                              "division_name",
                              "home",
                              "away",
                              "fixture_no",
                              "event_count",
                              "started_at"
                            ],
                            "additionalProperties": false
                          }
                        },
                        "up_next": {
                          "anyOf": [
                            {
                              "type": "object",
                              "properties": {
                                "home": {
                                  "anyOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                },
                                "away": {
                                  "anyOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                },
                                "scheduled_at": {
                                  "anyOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                },
                                "in_play": {
                                  "type": "boolean"
                                }
                              },
                              "required": [
                                "home",
                                "away",
                                "scheduled_at",
                                "in_play"
                              ],
                              "additionalProperties": false
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "divisions": {
                          "type": "object",
                          "propertyNames": {
                            "type": "string"
                          },
                          "additionalProperties": {}
                        },
                        "now": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "in_play",
                        "in_play_fixtures",
                        "up_next",
                        "divisions",
                        "now"
                      ],
                      "additionalProperties": false
                    },
                    "requestId": {
                      "type": "string",
                      "format": "uuid"
                    }
                  }
                },
                "example": {
                  "ok": true,
                  "data": {
                    "in_play": -9007199254740991,
                    "in_play_fixtures": [
                      {
                        "id": "3f1a2b04-8c1d-4e5f-9a6b-7c8d9e0f1a2b",
                        "division_id": "3f1a2b04-8c1d-4e5f-9a6b-7c8d9e0f1a2b",
                        "division_name": "example",
                        "home": "example",
                        "away": "example",
                        "fixture_no": -9007199254740991,
                        "event_count": -9007199254740991,
                        "started_at": "example"
                      }
                    ],
                    "up_next": {
                      "home": "example",
                      "away": "example",
                      "scheduled_at": "example",
                      "in_play": true
                    },
                    "divisions": {},
                    "now": "example"
                  },
                  "requestId": "3f1a2b04-8c1d-4e5f-9a6b-7c8d9e0f1a2b"
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "ok",
                    "error",
                    "requestId"
                  ],
                  "properties": {
                    "ok": {
                      "const": false
                    },
                    "error": {
                      "type": "object",
                      "required": [
                        "code",
                        "message"
                      ],
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "current_seq": {
                          "type": "integer",
                          "description": "On SEQ_CONFLICT (409): the ledger tip to resync from"
                        }
                      },
                      "additionalProperties": true
                    },
                    "requestId": {
                      "type": "string",
                      "format": "uuid"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "ok",
                    "error",
                    "requestId"
                  ],
                  "properties": {
                    "ok": {
                      "const": false
                    },
                    "error": {
                      "type": "object",
                      "required": [
                        "code",
                        "message"
                      ],
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "current_seq": {
                          "type": "integer",
                          "description": "On SEQ_CONFLICT (409): the ledger tip to resync from"
                        }
                      },
                      "additionalProperties": true
                    },
                    "requestId": {
                      "type": "string",
                      "format": "uuid"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "ok",
                    "error",
                    "requestId"
                  ],
                  "properties": {
                    "ok": {
                      "const": false
                    },
                    "error": {
                      "type": "object",
                      "required": [
                        "code",
                        "message"
                      ],
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "current_seq": {
                          "type": "integer",
                          "description": "On SEQ_CONFLICT (409): the ledger tip to resync from"
                        }
                      },
                      "additionalProperties": true
                    },
                    "requestId": {
                      "type": "string",
                      "format": "uuid"
                    }
[...]
